.gallery{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.panel{
  //flex grow 1 flex basis 1
  flex: 1 1;
  // flex-basis: 200px;
}
.gallery-text{
  position: absolute;
  bottom: 5%;
  left:5%;
}
.flexy-1{
  @extend %flexy;
  //change height and % for queries
  flex-wrap: wrap;
  height: 400px;
  .rafting{
    @include flexBasis-grow1-posRel(60%);
    @include backgroundCover("../img/home-raft.jpg");
    flex-basis: 1;
  }
  .hiking{
    @include flexBasis-grow1-posRel(20%);
    @include backgroundCover("../img/home-backpacking.jpg");
  }
  .base-camp{
    @include flexBasis-grow1-posRel(20%);
    @include backgroundCover("../img/home-basecamp.jpg");
  }
  @media(max-width: $mobile){
    flex-wrap: wrap;
    height: 800px;
    .rafting{
      @include flexBasis-grow1-posRel(100%);
      // @include backgroundCover("../img/home-raft.jpg");
      // flex-basis: 1;
    }
    .hiking{
      @include flexBasis-grow1-posRel(50%);
      // @include backgroundCover("../img/home-backpacking.jpg");
    }
    .base-camp{
      @include flexBasis-grow1-posRel(50%);
      // @include backgroundCover("../img/home-basecamp.jpg");
    }
  }
}
.flexy-2{
  // flex-wrap: wrap;
  @extend %flexy;
  .custom{
    @include flexBasis-grow1-posRel(100%);

    @include backgroundCover("../img/home-custom.jpg");
  }
  .photography{
    @include flexBasis-grow1-posRel(50%);
    @include backgroundCover("../img/home-photo.jpg");
  }
  .canoeing{
    @include flexBasis-grow1-posRel(50%);
    @include backgroundCover("../img/home-canoe.jpg");
  }
  @media(max-width: $mobile){
    flex-wrap: wrap;
    height: 800px;
    .custom{
      @include flexBasis-grow1-posRel(100%);

      @include backgroundCover("../img/home-custom.jpg");
    }
    .photography{
      @include flexBasis-grow1-posRel(50%);
      @include backgroundCover("../img/home-photo.jpg");
    }
    .canoeing{
      @include flexBasis-grow1-posRel(50%);
      @include backgroundCover("../img/home-canoe.jpg");
    }

  }
}
// .rafting, .custom{
//   flex-basis: 500px;
// }
// .base-camp, .hiking, .canoeing{
//   flex-basis: 200px;
// }
