a{
  text-decoration: none;
  color: white;
}

.grow{
  &:hover{
    // @include animation(spin .9s ease-in-out, bounce .5s ease-out);
    @include animation(bounce .6s ease-in-out, spin .5s ease-out);
  }
}
.gallery-button{
  @extend %gallery-button;
}
a.orange{
  color: $orange;
}

.title{
  .play-button{
    display:flex;
    align-content: center;
    justify-content: center;
    min-width: 100px;
    min-height: 100px;
    background-color: $white;
    opacity: .8;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  .explore-button{
    color: white;
    padding: 15px;
    background-color:  $orange;
    transition: all .3s ease-in-out;
    &:hover{
      @include transform(scale(1.3));
      border-radius: 13px;
    }
    a:hover{
      background: transparent;
    }
  }
  @media(max-width: $mobile){
    .explore-button, .play-button{
      display: none;
    }
  }
  .fa{
    color: $orange;
    align-self: center;
    margin-left: 10px;
  }

}
.panel:hover  .gallery-button{
  @include animation(bounce .4s ease-in-out, spin .3s ease-out);
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid $orange;
}

@include keyframes(bounce) {
  0% {
    @include transform(scale(.9));
  }
  70%{
    @include transform(scale(1.3));

  }
  100%{
    @include transform(scale(1));
  }
}
@include keyframes(spin) {
  0% {
    @include transform(rotate(-10deg));
  }
  70%{
    @include transform(rotate(380deg));

  }
  100%{
    @include transform(rotate(0deg));
  }
}
