.navigation{
  margin-top: 5%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  .secret-nav{
    display: none;

  }
  .links{
    display: flex;
    justify-content: center;
    a{
      @include transition(all .4s ease-in);
    }
    a:hover{
      color: $orange;
    }
  }
  .logo{
    min-width: 200px;
  }
  @media(max-width: $mobile){
    // align-items: flex-start;
    justify-content: flex-start;
    .links{
      display:none;
  }
  .secret-nav{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
}
}
.middle-menu{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  height: 85px;
  align-items: center;
  background-image: url(../img/bg-footercopyright.jpg);
  .modal-trigger{
    color:lighten($dark-gray, 35%);
    &:hover{
      color: $white;
    }
  }
  .search{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // text-align: right;
    flex-grow: 1;
    img{
      width: 30px;
      // align-self: flex-end;
    }
    span{
      // align-self: flex-end;
      color: lighten($dark-gray,  55%);
      // margin-left: 80%;
      padding: 15px;
      font-weight: 900;
    }
  }
  .side-nav{
    align-self: center;
    flex-grow: 1;
    padding: 15px;
    display: flex;
    a{
      padding-left: 15px;
    }
  }
}
