html, body{
  margin:0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
// div{
//   border: 1px dashed white;
// }
// .side-nav, .search{
//   border-color: $orange;
//
// }
// .title{
//   border-color: $orange;
// }
// .flexy-1{
//   border: 5px dashed red;
// }
